<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vms Mangement System</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotoCart()">
        <ion-badge >{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  </div>
 
  <div *ngFor="let cat of catDta" class="category-block">
 
    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{ cat.title }}
      </ion-col>
    </ion-row>
 
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.cat_products">
        <div *ngIf="cat.expanded">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ product.title }} - ${{ product.rate }}
              </ion-card-title>
              <ion-card-content>
                <!-- <img src="https://via.placeholder.com/100x100"> -->
                <img [src]="product.product_image" style="height: 100px; width: 100px;" />
                <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
 
  </div>
</ion-content>
